{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Metadata": {
        "AWS::CloudFormation::Designer": {
            "eb24cfc5-f946-4698-831b-7cbc414f1ac1": {
                "size": {
                    "width": 760,
                    "height": 660
                },
                "position": {
                    "x": 870,
                    "y": 300
                },
                "z": 1,
                "embeds": [
                    "a3312081-9738-4fd8-8f82-ee669add72b6",
                    "20d94350-0958-4b3e-be99-e8fd35ce584a",
                    "e189eb3a-bf5e-4e61-8dd6-1b2a183a09bf",
                    "f6117172-ee24-426e-a172-ea06f277ff37",
                    "31a4fd54-e27a-481a-acd5-20d016198468",
                    "8b571b26-b17c-4dd3-b241-b0ce7d26ae84",
                    "3259965c-1dd1-4e30-9327-e0e31e595122",
                    "66cd8da7-a669-48f2-bb28-803bfd93d384",
                    "13f38e63-3950-4e15-9343-937be5a07c61",
                    "c01c6431-a46b-47f2-bb8d-0b0d859a574b",
                    "3a72b967-689f-4a08-95eb-7a0d5e31b13c",
                    "dab31dcf-c132-4338-ae73-08842008cb1e",
                    "e0cf126b-b7b7-405a-b5c7-d00cfca57f0d"
                ]
            },
            "e0cf126b-b7b7-405a-b5c7-d00cfca57f0d": {
                "size": {
                    "width": 90,
                    "height": 90
                },
                "position": {
                    "x": 1240,
                    "y": 320
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": [],
                "iscontainedinside": [
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                ],
                "dependson": [
                    "c01c6431-a46b-47f2-bb8d-0b0d859a574b"
                ]
            },
            "dab31dcf-c132-4338-ae73-08842008cb1e": {
                "size": {
                    "width": 90,
                    "height": 90
                },
                "position": {
                    "x": 1260,
                    "y": 440
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": [],
                "iscontainedinside": [
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                ],
                "dependson": [
                    "13f38e63-3950-4e15-9343-937be5a07c61"
                ]
            },
            "3a72b967-689f-4a08-95eb-7a0d5e31b13c": {
                "size": {
                    "width": 60,
                    "height": 60
                },
                "position": {
                    "x": 900,
                    "y": 360
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": [],
                "dependson": [
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                ]
            },
            "c01c6431-a46b-47f2-bb8d-0b0d859a574b": {
                "size": {
                    "width": 80,
                    "height": 80
                },
                "position": {
                    "x": 980,
                    "y": 320
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": [],
                "dependson": [
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                ]
            },
            "65d9c9d1-0802-48eb-b80e-63995e450aab": {
                "source": {
                    "id": "c01c6431-a46b-47f2-bb8d-0b0d859a574b"
                },
                "target": {
                    "id": "e0cf126b-b7b7-405a-b5c7-d00cfca57f0d"
                },
                "z": 2
            },
            "a3312081-9738-4fd8-8f82-ee669add72b6": {
                "size": {
                    "width": 60,
                    "height": 60
                },
                "position": {
                    "x": 900,
                    "y": 450
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": []
            },
            "f5f7eda7-3d74-4f45-b130-cd08cfbe5395": {
                "source": {
                    "id": "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                },
                "target": {
                    "id": "a3312081-9738-4fd8-8f82-ee669add72b6"
                },
                "z": 2
            },
            "13f38e63-3950-4e15-9343-937be5a07c61": {
                "size": {
                    "width": 80,
                    "height": 80
                },
                "position": {
                    "x": 970,
                    "y": 440
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": [],
                "dependson": [
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                ]
            },
            "acaecd54-9ee1-4d5c-8d0e-36c086d095d8": {
                "source": {
                    "id": "13f38e63-3950-4e15-9343-937be5a07c61"
                },
                "target": {
                    "id": "dab31dcf-c132-4338-ae73-08842008cb1e"
                },
                "z": 2
            },
            "66cd8da7-a669-48f2-bb28-803bfd93d384": {
                "size": {
                    "width": 90,
                    "height": 90
                },
                "position": {
                    "x": 1260,
                    "y": 550
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": [],
                "iscontainedinside": [
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                ],
                "dependson": [
                    "13f38e63-3950-4e15-9343-937be5a07c61",
                    "8b571b26-b17c-4dd3-b241-b0ce7d26ae84"
                ]
            },
            "e0e7f8e0-18ed-4935-bde3-c3f288600c61": {
                "source": {
                    "id": "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                },
                "target": {
                    "id": "3a72b967-689f-4a08-95eb-7a0d5e31b13c"
                },
                "z": 2
            },
            "8b571b26-b17c-4dd3-b241-b0ce7d26ae84": {
                "size": {
                    "width": 80,
                    "height": 80
                },
                "position": {
                    "x": 980,
                    "y": 530
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": [],
                "dependson": [
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                ]
            },
            "c164972a-ddec-4ed5-8d19-baa544d43d48": {
                "source": {
                    "id": "8b571b26-b17c-4dd3-b241-b0ce7d26ae84"
                },
                "target": {
                    "id": "66cd8da7-a669-48f2-bb28-803bfd93d384"
                },
                "z": 2
            },
            "7649637b-4ffe-46d4-abbe-8c7746ee1061": {
                "source": {
                    "id": "13f38e63-3950-4e15-9343-937be5a07c61"
                },
                "target": {
                    "id": "dab31dcf-c132-4338-ae73-08842008cb1e"
                },
                "z": 2
            },
            "4aac847a-9af4-445e-b80a-84743af4c94d": {
                "source": {
                    "id": "8b571b26-b17c-4dd3-b241-b0ce7d26ae84"
                },
                "target": {
                    "id": "66cd8da7-a669-48f2-bb28-803bfd93d384"
                },
                "z": 2
            },
            "f6117172-ee24-426e-a172-ea06f277ff37": {
                "size": {
                    "width": 80,
                    "height": 80
                },
                "position": {
                    "x": 970,
                    "y": 650
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": [],
                "dependson": [
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                ]
            },
            "20d94350-0958-4b3e-be99-e8fd35ce584a": {
                "size": {
                    "width": 80,
                    "height": 80
                },
                "position": {
                    "x": 960,
                    "y": 760
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": [],
                "dependson": [
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                ]
            },
            "31a4fd54-e27a-481a-acd5-20d016198468": {
                "size": {
                    "width": 80,
                    "height": 80
                },
                "position": {
                    "x": 1300,
                    "y": 760
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": [],
                "iscontainedinside": [
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                ],
                "dependson": [
                    "f6117172-ee24-426e-a172-ea06f277ff37"
                ]
            },
            "e189eb3a-bf5e-4e61-8dd6-1b2a183a09bf": {
                "size": {
                    "width": 80,
                    "height": 80
                },
                "position": {
                    "x": 1300,
                    "y": 870
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": [],
                "iscontainedinside": [
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                ],
                "dependson": [
                    "20d94350-0958-4b3e-be99-e8fd35ce584a",
                    "13f38e63-3950-4e15-9343-937be5a07c61"
                ]
            },
            "3259965c-1dd1-4e30-9327-e0e31e595122": {
                "size": {
                    "width": 80,
                    "height": 80
                },
                "position": {
                    "x": 1290,
                    "y": 650
                },
                "z": 2,
                "parent": "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                "embeds": [],
                "iscontainedinside": [
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1",
                    "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                ],
                "dependson": [
                    "8b571b26-b17c-4dd3-b241-b0ce7d26ae84"
                ]
            },
            "887533fd-34b7-4248-a799-cfeae7373002": {
                "source": {
                    "id": "20d94350-0958-4b3e-be99-e8fd35ce584a"
                },
                "target": {
                    "id": "e189eb3a-bf5e-4e61-8dd6-1b2a183a09bf"
                },
                "z": 2
            },
            "096b0b5d-fdfa-4eea-903a-07a660457682": {
                "source": {
                    "id": "f6117172-ee24-426e-a172-ea06f277ff37"
                },
                "target": {
                    "id": "31a4fd54-e27a-481a-acd5-20d016198468"
                },
                "z": 2
            },
            "322979d7-d8ca-4914-8907-5c252e878ffc": {
                "source": {
                    "id": "8b571b26-b17c-4dd3-b241-b0ce7d26ae84"
                },
                "target": {
                    "id": "3259965c-1dd1-4e30-9327-e0e31e595122"
                },
                "z": 2
            }
        }
    },
    "Resources": {
        "INFCHQ": {
            "Type": "AWS::EC2::VPC",
            "Properties": {
                "CidrBlock": "10.180.0.0/16",
                "InstanceTenancy": "default",
                "EnableDnsSupport": "true",
                "EnableDnsHostnames": "true",
                "Tags": [
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    },
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    },
                    {
                        "Key": "Name",
                        "Value": "INFCHQ"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "eb24cfc5-f946-4698-831b-7cbc414f1ac1"
                }
            }
        },
        "INFCHQWEBB": {
            "Type": "AWS::EC2::Subnet",
            "Properties": {
                "CidrBlock": "10.180.12.0/25",
                "AvailabilityZone": "ap-southeast-2b",
                "VpcId": {
                    "Ref": "INFCHQ"
                },
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": "INFCHQ-WEB-B"
                    },
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "e0cf126b-b7b7-405a-b5c7-d00cfca57f0d"
                }
            },
            "DependsOn": [
                "INFCHQWEBRTB"
            ]
        },
        "INFCHQINTB": {
            "Type": "AWS::EC2::Subnet",
            "Properties": {
                "CidrBlock": "10.180.13.0/25",
                "AvailabilityZone": "ap-southeast-2b",
                "VpcId": {
                    "Ref": "INFCHQ"
                },
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": "INFCHQ-INT-B"
                    },
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "dab31dcf-c132-4338-ae73-08842008cb1e"
                }
            },
            "DependsOn": [
                "INFCHQINTRTB"
            ]
        },
        "AUDCHPINFCHQ": {
            "Type": "AWS::EC2::DHCPOptions",
            "Properties": {
                "Tags": [
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    },
                    {
                        "Key": "Name",
                        "Value": "AUDHCP-INFCHQ"
                    }
                ],
                "DomainName": "infotrack.com.au",
                "DomainNameServers": [
                    "1.1.1.1, 10.180.13.10"
                ],
                "NtpServers": [
                    "10.180.13.10"
                ],
                "NetbiosNodeType": "2",
                "NetbiosNameServers": [
                    "10.180.13.10"
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "3a72b967-689f-4a08-95eb-7a0d5e31b13c"
                }
            },
            "DependsOn": [
                "INFCHQ"
            ]
        },
        "INFCHQWEBRTB": {
            "Type": "AWS::EC2::RouteTable",
            "Properties": {
                "VpcId": {
                    "Ref": "INFCHQ"
                },
                "Tags": [
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    },
                    {
                        "Key": "Name",
                        "Value": "INFCHQ-WEB-RT-B"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "c01c6431-a46b-47f2-bb8d-0b0d859a574b"
                }
            },
            "DependsOn": [
                "INFCHQ"
            ]
        },
        "mySubnetRouteTableAssociation": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "RouteTableId": {
                    "Ref": "INFCHQWEBRTB"
                },
                "SubnetId": {
                    "Ref": "INFCHQWEBB"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "65d9c9d1-0802-48eb-b80e-63995e450aab"
                }
            }
        },
        "AUINFCHQIG": {
            "Type": "AWS::EC2::InternetGateway",
            "Properties": {
                "Tags": [
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    },
                    {
                        "Key": "Name",
                        "Value": "AUINFCHQ-IG"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "a3312081-9738-4fd8-8f82-ee669add72b6"
                }
            }
        },
        "IGVPCAttach": {
            "Type": "AWS::EC2::VPCGatewayAttachment",
            "Properties": {
                "InternetGatewayId": {
                    "Ref": "AUINFCHQIG"
                },
                "VpcId": {
                    "Ref": "INFCHQ"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "f5f7eda7-3d74-4f45-b130-cd08cfbe5395"
                }
            }
        },
        "INFCHQINTRTB": {
            "Type": "AWS::EC2::RouteTable",
            "Properties": {
                "VpcId": {
                    "Ref": "INFCHQ"
                },
                "Tags": [
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    },
                    {
                        "Key": "Name",
                        "Value": "INFCHQ-INT-RT-B"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "13f38e63-3950-4e15-9343-937be5a07c61"
                }
            },
            "DependsOn": [
                "INFCHQ"
            ]
        },
        "EC2SRTA49KLL": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "RouteTableId": {
                    "Ref": "INFCHQINTRTB"
                },
                "SubnetId": {
                    "Ref": "INFCHQINTB"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "acaecd54-9ee1-4d5c-8d0e-36c086d095d8"
                }
            }
        },
        "INFCHQDMZB": {
            "Type": "AWS::EC2::Subnet",
            "Properties": {
                "CidrBlock": "10.180.43.0/25",
                "AvailabilityZone": "ap-southeast-2b",
                "VpcId": {
                    "Ref": "INFCHQ"
                },
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": "INFCHQ-DMZ-B"
                    },
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "66cd8da7-a669-48f2-bb28-803bfd93d384"
                }
            },
            "DependsOn": [
                "INFCHQDMZRTB"
            ]
        },
        "EC2VPCD46J9F": {
            "Type": "AWS::EC2::VPCDHCPOptionsAssociation",
            "Properties": {
                "DhcpOptionsId": {
                    "Ref": "AUDCHPINFCHQ"
                },
                "VpcId": {
                    "Ref": "INFCHQ"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "e0e7f8e0-18ed-4935-bde3-c3f288600c61"
                }
            }
        },
        "INFCHQDMZRTB": {
            "Type": "AWS::EC2::RouteTable",
            "Properties": {
                "VpcId": {
                    "Ref": "INFCHQ"
                },
                "Tags": [
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    },
                    {
                        "Key": "Name",
                        "Value": "INFCHQ-DMZ-RT-B"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "8b571b26-b17c-4dd3-b241-b0ce7d26ae84"
                }
            },
            "DependsOn": [
                "INFCHQ"
            ]
        },
        "EC2SRTA56PJG": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "RouteTableId": {
                    "Ref": "INFCHQDMZRTB"
                },
                "SubnetId": {
                    "Ref": "INFCHQDMZB"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "c164972a-ddec-4ed5-8d19-baa544d43d48"
                }
            }
        },
        "EC2SRTA1XBV8": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "RouteTableId": {
                    "Ref": "INFCHQINTRTB"
                },
                "SubnetId": {
                    "Ref": "INFCHQINTB"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "7649637b-4ffe-46d4-abbe-8c7746ee1061"
                }
            }
        },
        "EC2SRTAUBB5": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "RouteTableId": {
                    "Ref": "INFCHQDMZRTB"
                },
                "SubnetId": {
                    "Ref": "INFCHQDMZB"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "4aac847a-9af4-445e-b80a-84743af4c94d"
                }
            }
        },
        "INFCHQWEBRTC": {
            "Type": "AWS::EC2::RouteTable",
            "Properties": {
                "VpcId": {
                    "Ref": "INFCHQ"
                },
                "Tags": [
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    },
                    {
                        "Key": "Name",
                        "Value": "INFCHQ-WEB-RT-C"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "f6117172-ee24-426e-a172-ea06f277ff37"
                }
            },
            "DependsOn": [
                "INFCHQ"
            ]
        },
        "INFCHQINTRTC": {
            "Type": "AWS::EC2::RouteTable",
            "Properties": {
                "VpcId": {
                    "Ref": "INFCHQ"
                },
                "Tags": [
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    },
                    {
                        "Key": "Name",
                        "Value": "INFCHQ-INT-RT-C"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "20d94350-0958-4b3e-be99-e8fd35ce584a"
                }
            },
            "DependsOn": [
                "INFCHQ"
            ]
        },
        "INFCHQWEBC": {
            "Type": "AWS::EC2::Subnet",
            "Properties": {
                "CidrBlock": "10.180.12.128/25",
                "AvailabilityZone": "ap-southeast-2c",
                "VpcId": {
                    "Ref": "INFCHQ"
                },
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": "INFCHQ-WEB-C"
                    },
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "31a4fd54-e27a-481a-acd5-20d016198468"
                }
            },
            "DependsOn": [
                "INFCHQWEBRTC"
            ]
        },
        "INFCHQINTC": {
            "Type": "AWS::EC2::Subnet",
            "Properties": {
                "CidrBlock": "10.180.13.128/25",
                "AvailabilityZone": "ap-southeast-2c",
                "VpcId": {
                    "Ref": "INFCHQ"
                },
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": "INFCHQ-INT-C"
                    },
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "e189eb3a-bf5e-4e61-8dd6-1b2a183a09bf"
                }
            },
            "DependsOn": [
                "INFCHQINTRTC"
            ]
        },
        "INFCHQDMZC": {
            "Type": "AWS::EC2::Subnet",
            "Properties": {
                "CidrBlock": "10.180.43.128/25",
                "AvailabilityZone": "ap-southeast-2c",
                "VpcId": {
                    "Ref": "INFCHQ"
                },
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": "INFCHQ-DMZ-C"
                    },
                    {
                        "Key": "Environment",
                        "Value": "INFCHQ"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "3259965c-1dd1-4e30-9327-e0e31e595122"
                }
            },
            "DependsOn": [
                "INFCHQDMZRTB"
            ]
        },
        "EC2SRTA3S0Q1": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "RouteTableId": {
                    "Ref": "INFCHQINTRTC"
                },
                "SubnetId": {
                    "Ref": "INFCHQINTC"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "887533fd-34b7-4248-a799-cfeae7373002"
                }
            }
        },
        "EC2SRTA2QH9B": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "RouteTableId": {
                    "Ref": "INFCHQWEBRTC"
                },
                "SubnetId": {
                    "Ref": "INFCHQWEBC"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "096b0b5d-fdfa-4eea-903a-07a660457682"
                }
            }
        },
        "EC2SRTA36EDF": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "RouteTableId": {
                    "Ref": "INFCHQDMZRTB"
                },
                "SubnetId": {
                    "Ref": "INFCHQDMZC"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "322979d7-d8ca-4914-8907-5c252e878ffc"
                }
            }
        }
    }
}